<main>
   <h1 class="text-center text-uppercase">Hello world</h1> 
   <h2 class="text-end text-lowercase">HELLO world</h2> 
   <h3 class="text-capitalize">hello world</h3> 
    <hr>
    <div class="display-1 text-muted">hello world</div> 
   <div class="display-5">hello world</div> 
   <div>hello world</div> 
   <hr>
   <div class="text-muted text-end">Plus text
   </div> 
    <hr>
    <button class="btn btn-primary"> <span class="text-uppercase">Button primary</span></button>
    <button class="btn btn-danger"> <span class="text-uppercase">Delete</span></button>
    <a href="123" class="btn btn"> <span class="text-uppercase">посилання</span></a>
    <hr>
    <p class="text-primary"> My text</p>
    <p class="text-danger"> My text</p>
    <p class="text-success"> My text</p>
    <p class="text-warning text-end"> My text</p>
    <hr>
    <button class="btn btn-outline-primary text-uppercase"> купити</button>
    <button class="btn btn-primary btn-sm text-lowercase">DElete</button>
    <button class="btn btn-warning btn-lg text-lowercase">DElete</button>
    <hr>
    <div class="card">
        <div class="card-body">This content?</div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
         <button class="btn btn-primary"> <span class="text-uppercase">Button primary</span></button>
        <button class="btn btn-danger"> <span class="text-uppercase">Delete</span></button>   
        </div>
    </div>




</main>
<main>
    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product Photo">
        <div class="card-body">
            <h5 class="card-title">Product #271657</h5>
            <p>USB HUB</p>
            <a href="/summary" class="btn btn-primary">Open</a>
        
        </div>
    </div>
    <br>
    <br>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item">Item1.1 <li>
                <li class="list-group-item">Item1.2 </li>
            </ul>
        </li>
        <li class="list-group-item">Item2 </li>
        <li class="list-group-item">Item3 </li>
    </ul>
</main>