{{!-- <main class="p-5">
    <div class="row g-5">
        <div class="col-12">
                <label class="form-label">Email address</label>  
                <input class="form-control">
                <div class="form-text text-danger">Error, You need to set correct email</div>      
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2 pt-1 ">
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-2 ps-5">
                    <input class="form-control form-control-lg">
                </div>
                <div class="col-8 ps-5 pt-1">
                    <div class="form-text text-danger">Error, You need to set correct email</div>     
                </div> 

            </div>
        </div>
        <div class="col-12">
                <label class="form-label">Email address</label>
                    <div class="row">
                        <div class="col-4">
                            <input type="color"class="form-control"> 
                            <div class="form-text text-danger">Error. You need to set correct email</div>       
                        </div>
                         <div class="col-4">
                            <input class="form-control">  
                        </div>  
                         <div class="col-4">
                            <input class="form-control"> 
                            <div class="form-text text-danger">Error. You need to set correct email</div>       
                        </div>                                
                    </div>                 
        </div>
        <hr>
        <div>
            <label class="form-label">Select role</label>
            <select class="form-select form-select-sm">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <div class="form-text text-danger">Error. You need to set correct email</div> 
        </div>
        <hr>
        <div>
            <div class="col-12">
                <div class="form-label">Select food</div>
                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input type="checkbox" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input type="checkbox" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Banan</label>
                    <input type="checkbox" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Peach</label>
                    <input type="checkbox" class="form-check-input">
                </div>
            </div>
            <hr>
            <div class="col-12">
                <div class="form-label">Select food radio</div>
                <div class="form-check">
                    <label class="form-check-label">Apple</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Orange</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Banan</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
                 <div class="form-check">
                    <label class="form-check-label">Peach</label>
                    <input name="food" type="radio" class="form-check-input">
                </div>
            </div>
            <hr>
            <div class="col-12">
                <div class="form-label">Get bonus</div>
                <div class="form-check form-switch">
                    <label class="form-check-label">Yes</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
                 <div class="form-check form-switch">
                    <label class="form-check-label">No</label>
                    <input name="food" type="checkbox" class="form-check-input">
                </div>
            </div>
        </div>
    </div> --}}


    <br>
    <hr>
    <h1>Hello world</h1>
    {{> title data="My title"}}

    <h1 style="color:black;background:yellow">This is  text</h1>
</main> 

                            <div class="form-check">
                                <input name="delivery" class="form-check-input" type="radio">
                                <label class="form-check-label">type</label>
                            </div>
                             <div class="form-check">
                                <input name="delivery" class="form-check-input" type="radio">
                                <label class="form-check-label">type1</label>
                            </div>
                             <div class="form-check">
                                <input  name="delivery" class="form-check-input" type="radio">
                                <label class="form-check-label">type2</label>
                            </div>